@page "/alert"

<PageTitle>Alert</PageTitle>

<script src="about.js" data-reload="always"></script>
<script data-reload="always">alert("Inline Script - About.razor");</script>

<h1>About</h1>

<p>This page displays JavaScript alert messages</p>

