@page "/animate"

<PageTitle>Animate On Scroll</PageTitle>

<script src="lib/aos/aos.js" data-reload="once"></script>
<script src="animate.js" data-reload="always"></script>

<h1>Animate On Scroll</h1>

<div class="container">
	<div class="animate" data-aos="fade-up">
		<p><strong>Fade Up</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-down">
		<p><strong>Fade Down</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-right">
		<p><strong>Fade Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-left">
		<p><strong>Fade Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-up-right">
		<p><strong>Fade Up Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-up-left">
		<p><strong>Fade Up Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-down-right">
		<p><strong>Fade Down Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="fade-down-left">
		<p><strong>Fade Down Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>

	<div class="animate" data-aos="flip-left">
		<p><strong>Flip Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="flip-right">
		<p><strong>Flip Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="flip-up">
		<p><strong>Flip Up</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="flip-down">
		<p><strong>Flip Down</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>

	<div class="animate" data-aos="zoom-in">
		<p><strong>Zoom In</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-in-up">
		<p><strong>Zoom In Up</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-in-down">
		<p><strong>Zoom In Down</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-in-left">
		<p><strong>Zoom In Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-in-right">
		<p><strong>Zoom In Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>

	<div class="animate" data-aos="zoom-out">
		<p><strong>Zoom Out</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-out-up">
		<p><strong>Zoom Out Up</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-out-down">
		<p><strong>Zoom Out Down</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-out-right">
		<p><strong>Zoom Out Right</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
	<div class="animate" data-aos="zoom-out-left">
		<p><strong>Zoom Out Left</strong><br />Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.</p>
	</div>
</div>
