@page "/animate"

<PageTitle>Animate</PageTitle>

<script src="lib/aos/aos.js" data-reload="once"></script>
<script src="animate.js" data-reload="always"></script>

<h1>Animate</h1>

<br />
<br /><strong>Scroll Down</strong>
<br />
<br />

<p data-aos="zoom-in">
  Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.
  Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo blandit at tincidunt felis per nunc ridiculus purus. Efficitur adipiscing condimentum habitant lacinia nisl nunc eu praesent mattis. Lorem lacinia dui donec nullam mattis vel vitae maecenas torquent. Viverra tempor purus nullam sodales suspendisse primis in. Ad nullam dictumst ridiculus taciti natoque senectus donec fames. Senectus parturient morbi potenti lacus egestas tortor dictum per consectetur.
</p>

<hr /><div style="height: 300px;" />

<p data-aos="fade-up">
  Purus praesent vivamus dui eu odio potenti cursus sapien. Varius gravida vulputate magnis maecenas quisque platea gravida arcu. Nisi maximus purus justo himenaeos; convallis senectus. Quam id imperdiet maximus; luctus est nascetur. Ultrices lobortis ultricies condimentum purus commodo ex. Venenatis rhoncus inceptos metus eros enim diam?
  Purus praesent vivamus dui eu odio potenti cursus sapien. Varius gravida vulputate magnis maecenas quisque platea gravida arcu. Nisi maximus purus justo himenaeos; convallis senectus. Quam id imperdiet maximus; luctus est nascetur. Ultrices lobortis ultricies condimentum purus commodo ex. Venenatis rhoncus inceptos metus eros enim diam?
</p>

<hr /><div style="height: 300px;" />

<p data-aos="zoom-in">
  Bibendum nulla cubilia sagittis magnis fusce dictumst a cursus. Auctor dignissim sit mattis elit litora senectus dapibus adipiscing. Ipsum amet blandit est tortor suspendisse aliquet quis urna. Erat etiam aliquet dis consequat massa fermentum. Vulputate morbi natoque arcu conubia, feugiat non. Eleifend morbi felis dui torquent curabitur at justo ante.
  Bibendum nulla cubilia sagittis magnis fusce dictumst a cursus. Auctor dignissim sit mattis elit litora senectus dapibus adipiscing. Ipsum amet blandit est tortor suspendisse aliquet quis urna. Erat etiam aliquet dis consequat massa fermentum. Vulputate morbi natoque arcu conubia, feugiat non. Eleifend morbi felis dui torquent curabitur at justo ante.
</p>

<hr /><div style="height: 300px;" />

<p data-aos="fade-up">
  Libero facilisis euismod; nisl ut metus per platea. Aenean lectus dapibus montes feugiat; ornare nulla mi potenti! Dui conubia montes vehicula nec enim tempor. Praesent at integer laoreet eleifend ultrices ligula. Proin blandit scelerisque mollis, sem massa vehicula morbi. Fringilla vehicula luctus hendrerit sagittis ullamcorper maximus lorem eget. Nunc scelerisque mattis est tellus dignissim mauris pretium facilisi. Per hac placerat congue ligula urna aptent phasellus. Convallis mi duis sagittis netus tempus.
  Libero facilisis euismod; nisl ut metus per platea. Aenean lectus dapibus montes feugiat; ornare nulla mi potenti! Dui conubia montes vehicula nec enim tempor. Praesent at integer laoreet eleifend ultrices ligula. Proin blandit scelerisque mollis, sem massa vehicula morbi. Fringilla vehicula luctus hendrerit sagittis ullamcorper maximus lorem eget. Nunc scelerisque mattis est tellus dignissim mauris pretium facilisi. Per hac placerat congue ligula urna aptent phasellus. Convallis mi duis sagittis netus tempus.
</p>

<hr /><div style="height: 300px;" />

<p data-aos="zoom-in">
  Potenti nostra porttitor justo, nibh venenatis facilisi. Ipsum magnis diam pharetra, nascetur in ac. Metus porta velit est adipiscing tincidunt commodo habitant magna aenean. Maecenas curabitur condimentum quisque habitant sagittis adipiscing erat. Condimentum class nulla nisl; ullamcorper semper arcu facilisis. Enim ligula parturient habitant convallis ac risus vitae primis a. Dis lectus pharetra mi metus proin. Nibh orci porttitor curabitur pellentesque nisi. Conubia quisque cursus malesuada odio leo pretium commodo. Nunc sed placerat laoreet; accumsan torquent urna.
  Potenti nostra porttitor justo, nibh venenatis facilisi. Ipsum magnis diam pharetra, nascetur in ac. Metus porta velit est adipiscing tincidunt commodo habitant magna aenean. Maecenas curabitur condimentum quisque habitant sagittis adipiscing erat. Condimentum class nulla nisl; ullamcorper semper arcu facilisis. Enim ligula parturient habitant convallis ac risus vitae primis a. Dis lectus pharetra mi metus proin. Nibh orci porttitor curabitur pellentesque nisi. Conubia quisque cursus malesuada odio leo pretium commodo. Nunc sed placerat laoreet; accumsan torquent urna.
</p>
