@page "/countdown"

<PageTitle>Countdown</PageTitle>

<script src="countdown.js" data-reload="always" defer></script>

<h1>Countdown</h1>

<section id="countdown" class="countdown">
  <div id="countdown-enddate" class="enddate">Dec 25, 2025 00:00</div>
  <h2>Christmas Day</h2>
  <p>The countdown is on...</p>
  <div class="interval">
    <span id="countdown-days" class="timer"></span>
    <span class="measure">Days</span> 
  </div>
  <div class="interval">
    <span id="countdown-hours" class="timer"></span>
    <span class="measure">Hours</span>
  </div>
  <div class="interval">
    <span id="countdown-minutes" class="timer"></span>
    <span class="measure">Minutes</span>
  </div>
  <div class="interval">
    <span id="countdown-seconds" class="timer"></span>
    <span class="measure">Seconds</span>
  </div>
</section>
