@page "/dynamictext"

<PageTitle>Dynamic Text</PageTitle>

<h1>Dynamic Text</h1>

<p>This page displays the year dynamically using inline JavaScript</p>

@* manipulates a specific DOM element and is safe to reload *@
<p>Copyright (c) &gt;<span id="currentyear"></span>&lt;</p>
<script data-reload="always">document.getElementById("currentyear").innerHTML = new Date().getFullYear();</script>

<p>This section displays the year dynamically using document.write (which is not supported on enhanced navigations or using BlazorScriptReload)</p>

@* document.write is ignored by reload as it will overwrite the entire document's content *@
<p>Copyright (c) &gt;<script data-reload="always">document.write(new Date().getFullYear());</script>&lt;</p>


