@page "/dynamictext"

<PageTitle>Dynamic Text</PageTitle>

<h1>Dynamic Text</h1>

<p>This page displays the year dynamically using inline JavaScript</p>

@* manipulates a specific DOM element and is safe to reload *@
<p>Copyright (c) &gt;<span id="currentyear"></span>&lt;</p>
<script data-reload="always">document.getElementById("currentyear").innerHTML = new Date().getFullYear();</script>

