@page "/"

<PageTitle>Home</PageTitle>

<script src="home.js" data-reload="always"></script>
<script data-reload="always">console.log("Inline Script - Home.razor");</script>

<h1>Home</h1>

<p>As you navigate to the various pages included in the left navigation menu you will observe that none of the &lt;script&gt; elements behave as expected. However, if you Enable Reload using the button at the top right and navigate to any of the pages, the &lt;script&gt; elements will execute.</p>

<p>This page logs messages to the browser console</p>

