@page "/interactive"
@rendermode InteractiveServer

<PageTitle>Interactive</PageTitle>

<h1>Interactive</h1>

<p>This page uses Interactive Rendering and displays an alert message</p>

<script data-reload="always">alert("An Alert From An Interactive Component");</script>
