@page "/about"

<PageTitle>About Page</PageTitle>

<script src="about.js" data-reload="once"></script>
<script data-reload="once">alert("Inline Script - About.razor");</script>

<h1>About</h1>

<p>This page displays JavaScript alert messages only the first time the page is displayed</p>

