@page "/"

<PageTitle>Home</PageTitle>

<script src="home.js" data-reload="true"></script>
<script data-reload="true">alert("Inline Script - Home.razor");</script>

<h1>Home</h1>

<p>This page always displays JavaScript alert messages</p>

