@page "/"

<PageTitle>Home</PageTitle>

<script src="home.js"></script>
<script>alert("Inline Script - Home.razor");</script>

<h1>Hello, world!</h1>

Use the button at the top right to enable or disable script reload. When enabled, the script elements on a page will be executed on enhanced navigations.


