@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Use the button to enable or disable Blazor Script Reload &gt;&gt;

            @if (NavigationManager.Uri.Contains("?reload=true"))
            {
                <a class="btn btn-primary" href="@NavigationManager.Uri.Replace("reload=true", "")">Disable Reload</a>
            }
            else
            {
                <a class="btn btn-primary" href="@(NavigationManager.Uri + "?reload=true")">Enable Reload</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
